<ion-content>
  <div class="background ion-text-center">
    <div class="title ion-text-center">Contraceptive methods</div>
    <ion-list>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Do you use contraception?</b></ion-label>
        </ion-list-header>

        <div class="coluna1">
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio slot="start" value="sim" checked></ion-radio>
          </ion-item>
        </div>

        <div class="coluna2">
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="nao"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>If yes, which type do you use?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <img src="../../../assets/icon/pilula.png">
          <ion-label> Contraceptive pill</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/injetavel.png">
          <ion-label>Contraceptive injectable</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/camisinha.png">
          <img src="../../../assets/icon/camisinha-feminina.png">
          <ion-label>Condom - male/female</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/coito.png">
          <ion-label>Coitus interruptus</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/laqueadura.png">
          <ion-label>Sterilization</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>


        <ion-item>
          <img src="../../../assets/icon/adesivo.png">
          <ion-label>Sticker</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/tabelinha.png">
          <ion-label>Table</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>



        <ion-item>
          <img src="../../../assets/icon/diu.png">
          <ion-label>I.U.D </ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/outros.png">
          <ion-label>Others</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>


      </ion-radio-group>
      <br>

    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/ciclo-menstrual-tres" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/uso-adolecentes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b>
      </ion-button>
    </div>

  </div>
</ion-content>