<ion-content>
  <div class="background ion-text-center">
    <ion-list>
      <br>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Usa método contraceptivo?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>

      </ion-radio-group>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Se sim, qual tipo usa?</b></ion-label>
        </ion-list-header>
        <ion-item>
          <img src="../../../assets/icon/pilula.png">
          <ion-label> Anticoncepcional pílula</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/injetavel.png">
          <ion-label>Anticoncepcional injetável</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/adesivo.png">
          <ion-label>Adesivo</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/tabelinha.png">
          <ion-label>Tabelinha</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/coito.png">
          <ion-label>Coito interrompido</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/camisinha.png">
          <ion-label>Camisinha - masculina/feminina</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/diu.png">
          <ion-label>D.I.U </ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/laqueadura.png">
          <ion-label>Laqueadura</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>
        <ion-item>
          <img src="../../../assets/icon/outros.png">
          <ion-label>Outros</ion-label>
          <ion-checkbox color="secondary"></ion-checkbox>
        </ion-item>

      </ion-radio-group>
      <br>

    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/ciclo-menstrual-tres" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/uso-adolecentes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b>
      </ion-button>
    </div>

  </div>
</ion-content>