<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Sexo e infecções sexualmente transmissíveis</div>
    <ion-list>

      <br>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/infeccao.png">
            <b>Fazer sexo oral e/ou anal sem proteção pode pegar uma infecção sexualmente transmissível?
            </b>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label><b>Se sim, qual(is):</b>
            <ion-input></ion-input>
          </ion-label>
        </ion-item>
      </ion-radio-group>
      <br>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/pergunta.png"><b>Fazer sexo sem camisinha pode levar a ter infecções sexualmente transmissíveis?

            </b>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio slot="start" value="asvezes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/sexo" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b></ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b></ion-button>
      <ion-button color="primary" href="/desejo-sexual" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b></ion-button>

    </div>
  </div>
  <ion-fab class="protecao">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="camisinha">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>
</ion-content>