<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Sex and sexually transmitted infections</div>
    <ion-list>

      <br>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/infeccao.png"><b>Can having unprotected oral and / or anal sex catch
              a sexually transmitted infection?
            </b>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label><b>If yes, which one (s):</b>
            <ion-input></ion-input>
          </ion-label>
        </ion-item>
      </ion-radio-group>
      <br>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/pergunta.png"><b>Can having sex without a condom lead to sexually
              transmitted infections?

            </b>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Sometimes</ion-label>
          <ion-radio slot="start" value="asvezes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/sexo" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b></ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b></ion-button>
      <ion-button color="primary" href="/desejo-sexual" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b></ion-button>

    </div>
  </div>
  <ion-fab class="protecao">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="camisinha">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>
</ion-content>