@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.backgroud {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/opcoes.jpg);
    background-repeat:round;
    background-size: 100%;
    background-color: #ff6c92;
    width: 100%;
    height: 100%;
    flex-direction: column;
   
}

.topo {
    display: flex;
    flex: arrow;
    align-items: center;
}

.imagemBoneca {
    margin-top: 100px;
    margin-left: 6%;
    overflow: hidden;
}

.bia {
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    color: #6d4c80; 
    margin-left: 7%;
    margin-bottom: 19%;
}

.boneca{
    //width: 120px;
    //height: 150px;
    max-width: 120px;
    max-width: 150px;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
}

.title {
    top: 15%;
    font-size: 39px;
    font-family: 'Amatic SC', cursive;
    color: #6d4c80; 
}

.subtitle {

    top: 15%;
    font-size: 38px;
    font-family: 'Amatic SC', cursive;
    color: #6d4c80; 
}

.container{
    width: 100%;
}


ion-button .container{
    color: #6d4b80;
}

.rodape{
    width: 100vw;
    top: 84.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    
}