<ion-content>
  <div class="backgroud ion-text-center">
    <ion-list>
      <br>
      <ion-label class="titu ion-text-center"><b>Higiene Íntima</b></ion-label>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/ducha.png"><b> Usa ducha vaginal/higiênica?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Devo usar? </ion-label>
      </ion-item>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/protetor.png"><b> Usa protetor diário?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Devo usar?</ion-label>
      </ion-item>
      <br>
    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/saude-vaginal-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b></ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b></ion-button>
      <ion-button color="primary" href="/higiene-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b></ion-button>
    </div>
  </div>

  <ion-fab class="ducha-higienica">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="protetor-diario">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

</ion-content>