<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Vaginal health</div>
    <ion-list>
      <br>
      <ion-label class="titu ion-text-center"><b>Intimate hygiene </b></ion-label>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/ducha.png"><b> Do you use a vaginal / hygienic shower?</b>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Should I use?</ion-label>
      </ion-item>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/protetor.png"><b> Do you use daily protector?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Should I use?</ion-label>
      </ion-item>
      <br>
    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/saude-vaginal-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b></ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b></ion-button>
      <ion-button color="primary" href="/higiene-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b></ion-button>
    </div>
  </div>

  <ion-fab class="ducha-higienica">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="protetor-diario">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

</ion-content>