.backgroud {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/saude.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ff6c92;
}

ion-list{
    background-color:#b5f0f0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    border-radius: 25px;
}
ion-radio{
    --color-checked: #ff6c92;
}
ion-item{
    --background:#b5f0f0;
    --border-radius: 10px;
}
img{
    height: 25px;
}
ion-fab{
    position: absolute;
    bottom: 55px;
    margin-left: 80%;
}
//botão boneca
.roupa{
    position: absolute;
    top: 40%;
    margin-left: 75%;
}
.sabonete{
    position: absolute;
    top: 72%;
    margin-left: 75%;
}
//tamanho do botão boneca
ion-fab-button{
    width: 85px;
    height: 85px;
}
.text{
    width: 270px;
    margin-left: 2px;
    margin-top: 4px;
}
ion-list-header{
    margin-left: 2%;
}
.rodape{
    margin-top: 5px;
    margin-bottom: 55px;
}
.boneca{
    width: 100px;
    height: 100px
}
