<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Saúde vaginal</div>
    <ion-list>
      <br>
      <ion-label class="titu ion-text-center"><b>Higiene Íntima</b></ion-label>
      <ion-radio-group allow-empty-selection="true" [(ngModel)]="health.tightClothes">
        <ion-list-header>
          <ion-label>
            <div>
              <div>
                <img src="../../../assets/icon/calca.png" style="float: left">
              </div>
              <div class="text">
                <b>Usa roupas quentes e apertadas?</b>
              </div>
            </div>
          </ion-label>

        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Devo usar?</ion-label>
      </ion-item>

      <ion-radio-group allow-empty-selection="true" [(ngModel)]="health.soap">
        <ion-list-header>
          <ion-label>
            <div>
              <div>
                <img src="../../../assets/icon/sabonete.png" style="float: left">
              </div>
              <div class="text">
                <b>Usa sabonete para lavar a vagina?</b>
              </div>
            </div>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Devo usar?</ion-label>
      </ion-item>
    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" (click)="back()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
      <ion-button color="primary" (click)="menu()" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button color="primary" (click)="next()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b>
      </ion-button>
    </div>
  </div>

  <ion-fab class="roupa">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="sabonete">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>


</ion-content>