<ion-content>
  <div class="backgroud">
    <div class="title ion-text-center">Tips</div>
    <div class="container ion-button-center">
      <ion-button expand="full" fill="outline">What can be happening<br>if the vagina is burning?</ion-button>
      <ion-button expand="full" fill="outline">What to do when<br>the vagina is burning?</ion-button>
      <ion-button expand="full" fill="outline">When the discharge (vaginal mucus)<br>is normal?</ion-button>
      <ion-button expand="full" fill="outline">Can discharge have<br>a bad smell?</ion-button>
      <ion-button expand="full" fill="outline">When discharge has a bad smell,<br>what is it?</ion-button>
      <ion-button expand="full" fill="outline">What can be happening<br>if the vagina is itching?</ion-button>
      <ion-button expand="full" fill="outline">What to do when<br>the vagina is itching?</ion-button>
    </div>

    <div class="rodape ion-text-center">
      <ion-button href="/saude-vaginal" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
    </div>

  </div>
</ion-content>