<ion-content>
  <div class="backgroud">

    <div class="container ion-button-center">
      <ion-button expand="full" fill="outline">O que pode estar acontecendo<br>se a vagina está ardendo ?</ion-button>
      <ion-button expand="full" fill="outline">O que fazer quando<br>a vagina está ardendo?</ion-button>
      <ion-button expand="full" fill="outline">Quando o corrimento (muco vaginal)<br>é normal?</ion-button>
      <ion-button expand="full" fill="outline">Corrimento pode ter<br>mau cheiro? </ion-button>
      <ion-button expand="full" fill="outline">Quando corrimento tem mau cheiro<br>é sinal de quê?</ion-button>
      <ion-button expand="full" fill="outline">O que pode estar acontecendo<br>se a vagina está coçando?</ion-button>
      <ion-button expand="full" fill="outline">O que fazer quando<br>a vagina está coçando?</ion-button>
    </div>

    <div class="rodape ion-text-center">
      <ion-button href="saude-vaginal" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
    </div>

  </div>
</ion-content>