<ion-content>
  <div class="backgroud">

    <div class="container ion-button-center">
      <ion-button expand="full" fill="outline">Onde ir em caso de violência sexual?</ion-button>
      <ion-button expand="full" fill="outline">Violentrômetro <br>(por cores de violência)</ion-button>
      <ion-button expand="full" fill="outline">Denúncia anônima</ion-button>
      <ion-button expand="full" fill="outline">Quais os serviços de <br>urgência ginecológica?</ion-button>
    </div>

    <div class="rodape ion-text-center">
      <ion-button href="opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
    </div>

  </div>
</ion-content>