<ion-content>
  <div class="backgroud">
    <div class="title ion-text-center">Serviços de urgência ginecológica</div>

    <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>Quais os serviços de urgência ginecológica?</span>
          <ion-item class="ion-margin-top">
            Maternidade Escola Januário Cicco.
            <br>
            Av. Nilo Peçanha, 259 - Petrópolis, Natal - RN, 59012-310.
          </ion-item>

          <ion-item class="ion-margin-top">
            Maternidade Municipal Dr. Araken Irerê Pinto.
            <br>
            Rua Coronel Juventino Cabral, 1735 - Tirol, Natal - RN. CEP: 59015- 330.
          </ion-item>

          <ion-item class="ion-margin-top">
            Maternidade Leide Morais.
            <br>
            Av. das Fronteiras, 2041 - Nossa Sra. da Apresentação. Natal- RN. CEP: 59114- 275.
          </ion-item>
        </div>
      </ion-slide>
    </ion-slides>


    <div class="rodape ion-text-center">
      <ion-button color="primary" (click)="back()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b></ion-button>
      <ion-button color="primary" (click)="menu()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
    </div>

  </div>
</ion-content>