<ion-content>
  <div class="backgroud">
    <div class="title ion-text-center">Gynecological emergency services</div>

    <ion-slides>
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span>What are the gynecological emergency services?</span>
          <ion-item class="ion-margin-top">
            Januário Cicco Maternity School.
            <br>
            Av. Nilo Peçanha, 259 - Petrópolis, Natal - RN, 59012-310.
          </ion-item>

          <ion-item class="ion-margin-top">
            Dr. Araken Irerê Pinto Municipal Maternity.
            <br>
            St. Coronel Juventino Cabral, 1735 - Tirol, Natal - RN. CEP: 59015- 330.
          </ion-item>

          <ion-item class="ion-margin-top">
            Leide Morais Maternity.
            <br>
            Av. das Fronteiras, 2041 - Nossa Sra. da Apresentação. Natal- RN. CEP: 59114- 275.
          </ion-item>
        </div>
      </ion-slide>
    </ion-slides>


    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/gravidez" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b></ion-button>
      <ion-button href="opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
    </div>

  </div>
</ion-content>