<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Vaginal health</div>
    <ion-list>
      <br>
      <ion-label class="titu ion-text-center"><b>Intimate hygiene</b></ion-label>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>
            <div>
              <div>
                <img src="../../../assets/icon/calcinha.png" style="float: left">
              </div>
              <div class="text">
                <b>Do you sleep with panties?</b>
              </div>
            </div>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Should I use?</ion-label>
      </ion-item>

      <ion-radio-group>
        <ion-list-header>
          <ion-label>
            <div>
              <div>
                <img src="../../../assets/icon/absorvente.png" style="float: left">
              </div>
              <div class="text">
                <b>Do you use absorbent interna?</b>
              </div>
            </div>
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label>Should I use?</ion-label>
      </ion-item>
      <br>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/higiene" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b></ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b></ion-button>
      <ion-button color="primary" href="/higiene-tres" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b></ion-button>
    </div>
  </div>
  <ion-fab class="calcinha">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="absorvente">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

</ion-content>