<ion-content>
  <div class="background ion-text-left">
    <ion-list>
      <br>
      <div class="cabecalho">
        <ion-label class="titu ion-text-center"><b>Contraceptivo de Emergência: </b></ion-label>
        <img src="../../../assets/icon/dia-seguinte.png">
      </div>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Pílula do dia seguinte, já tomou alguma vez?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
        <br>
      </ion-radio-group>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Pílula do dia seguinte é um método anticoncepcional?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>

      </ion-radio-group>
      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Posso usar regurlamente como método contraceptivo?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Às vezes</ion-label>
          <ion-radio slot="start" value="as-vezes"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>

      </ion-radio-group>
      <br>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/uso-adolecentes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/sexo" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>próximo</b>
      </ion-button>
    </div>
  </div>

  <ion-fab class="pilula-dia-seguinte">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

</ion-content>