<ion-content>
  <div class="backgroud ion-text-left">

    <ion-list class="lista">

      <ion-list-header><b>Sente ou possui os sintomas:</b></ion-list-header>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/heart.png"><b>Ardor</b></ion-label>
        </ion-list-header>

        <ion-item>
          <img src="../../../assets/icon/nenhum.png">
          <ion-label>Nenhum</ion-label>
          <ion-radio slot="start" value="nenhum" checked></ion-radio>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/baixo.png">
          <ion-label>Baixo</ion-label>
          <ion-radio slot="start" value="baixo" checked></ion-radio>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/medio.png">
          <ion-label>Médio</ion-label>
          <ion-radio slot="start" value="medio"></ion-radio>
        </ion-item>

        <ion-item>
          <img src="../../../assets/icon/intenso.png">
          <ion-label>Intenso</ion-label>
          <ion-radio slot="start" value="intenso"></ion-radio>
        </ion-item>

      </ion-radio-group>


      <ion-item>
        <img src="../../../assets/icon/corrimento.png">
        <ion-label>Corrimento</ion-label>
        <ion-select placeholder="Selecione" [(ngModel)]="corrimento" multiple="true">
          <ion-select-option value="transparente">Transparente</ion-select-option>
          <ion-select-option value="branco">Branco</ion-select-option>
          <ion-select-option value="amarelo">Amarelo</ion-select-option>
          <ion-select-option value="a-esverdeado">Amarelo-esverdeado</ion-select-option>
          <ion-select-option value="marrom">Marrom</ion-select-option>
          <ion-select-option value="sangue">Com sangue</ion-select-option>
          <ion-select-option value="rosado">Rosado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <img src="../../../assets/icon/coceira.png">
        <ion-label> Coceira</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>


      <ion-list-header>
        <ion-label>
          <div>
            <div style="float: left">
              <img src="../../../assets/icon/dor-relacao.png">
            </div>
            <div class="text">
              <b>Dor na relação:</b>
            </div>
          </div>
        </ion-label>
      </ion-list-header>


      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio slot="start" value="sim" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>As vezes</ion-label>
        <ion-radio slot="start" value="asvezes"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio slot="start" value="nao"></ion-radio>
      </ion-item>


    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button class="voltar" href="opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>voltar</b>
      </ion-button>
      <ion-button class="menu" href="opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button class="proximo" href="/saude-vaginal-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b>
      </ion-button>
    </div>

    <ion-fab>
      <ion-fab-button href="/saude-vaginal-dicas">
        <img src="../../../assets/icon/gyneco.png" class="boneca">
      </ion-fab-button>
    </ion-fab>

  </div>
</ion-content>