.backgroud {
    position: absolute;
    --backgroud: #c8ffff; 
    padding: 0px;
    background-image: url(../../../assets/img/saude.jpeg);
    background-size: 100% 100%;
    width: 100%;
}

ion-list{
    background-color:#b5f0f0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 110px;
    border-radius: 25px;
    
}
ion-radio{
    --color-checked: #ff6c92;
}
ion-item{
    --background:#b5f0f0;
    --border-radius: 10px;
}
img{
    height: 25px;
}

ion-fab{
    top: 125px;
    margin-left: 75%;    
}
.text{
    width: 300px;
    margin-left: 9%;
}
ion-fab-button{
    width: 85px;
    height: 85px;
}
.boneca{
    width: 100px;
    height: 100px;
}
.rodape{
    margin-top: 5px;
    margin-bottom: 55px;
}
