<ion-content>
  <div class="backgroud ion-text-center">
    <ion-list>
      <br>
      <ion-label><b>Calendário menstrual</b></ion-label>

      <ion-radio-group>

        <ion-item>
          <ion-label><b>Inicio</b></ion-label>
          <ion-datetime value="2020-01-01" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label><b>Final</b></ion-label>
          <ion-datetime value="2020-01-21" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
          <div class="duracao">
            <div>
              <ion-label><b>Duração do ciclo</b></ion-label>
            </div>
            <div>
              <ion-datetime displayFormat="D" placeholder="Selecione quantos dias"></ion-datetime>
            </div>
          </div>
        </ion-item>

        <ion-item>
          <div class="lembrete">
            <ion-label><b>Lembrete</b></ion-label>
            <div>
              <ion-label>Quantos dias antes:</ion-label>
              <ion-input placeholder="Digite quantos dias"></ion-input>
            </div>
            <div>
              <ion-label>Hora do lembrete:</ion-label>
              <ion-datetime displayFormat="HH:mm" placeholder="Selecione hora"></ion-datetime>
            </div>
          </div>
        </ion-item>

      </ion-radio-group>

      <br>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/higiene-tres" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/ciclo-menstrual-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b>
      </ion-button>
    </div>
  </div>

</ion-content>