<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Menstrual cycle</div>
    <ion-list>
      <br>
      <ion-label><b>Menstrual calendar</b></ion-label>

      <ion-radio-group>

        <ion-item>
          <ion-label><b>Start</b></ion-label>
          <ion-datetime value="2020-01-01" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label><b>End</b></ion-label>
          <ion-datetime value="2020-01-21" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item>
          <div class="duracao">
            <div>
              <ion-label><b>Cycle duration</b></ion-label>
            </div>
            <div>
              <ion-datetime displayFormat="D" placeholder="Select how many days"></ion-datetime>
            </div>
          </div>
        </ion-item>

        <ion-item>
          <div class="lembrete">
            <ion-label><b>Reminder</b></ion-label>
            <div>
              <ion-label>How many days before:</ion-label>
              <ion-input placeholder="Enter how many days"></ion-input>
            </div>
            <div>
              <ion-label>Reminder time:</ion-label>
              <ion-datetime displayFormat="HH:mm" placeholder="Select the time"></ion-datetime>
            </div>
          </div>
        </ion-item>

      </ion-radio-group>

      <br>
    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/higiene-tres" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/ciclo-menstrual-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b>
      </ion-button>
    </div>
  </div>

</ion-content>