@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.backgroud {
    position: absolute;
    --backgroud: #c8ffff; 
    padding: 0px;
    background: url(../../../assets/img/back.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.title {
    position: relative;
    top: 1%;
    font-size: 38px;
    font-family: 'Amatic SC', cursive;
    color: #6d4c80; 
}
ion-list{
    position: relative;
    background-color:#b5f0f0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3%;
    border-radius: 25px;  
}
.cabecalho{
    margin-right: 20px;

}
ion-radio{
    --color-checked: #ff6c92;
}
ion-item{
    --background:#b5f0f0;
    --border-radius: 10px;
}
img{
    height: 33px;
}

ion-list-header{
    margin-left: 2%;
}
ion-input{
    --background: #c8ffff;
    --color: #4a1c75;
    text-align: left;
    border-radius: 25px;
}
.text{
    width: 280px;
}
ion-fab{
    position: absolute;
    bottom: 55px;
    margin-left: 80%;
}
.orgasmo{
    top: 37%;
    position: absolute;
    right: 8%;
    height: 80px;
}
.abuso{
    top: 60%;
    position: absolute;
    right: 8%;
    height: 80px;
}
ion-fab-button{
    width: 75px;
    height: 75px;
}
.boneca{
    width: 65px;
    height: 80px;
}
.coluna1{
    width: 50%;
    margin-left: 1px;
    float: left;
}
