@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.background {
    position: absolute;
    --backgroud: #c8ffff; 
    padding: 0px;
    background-image: url(../../../assets/img/back.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.title {
    position: relative;
    font-size: 38px;
    font-family: 'Amatic SC', cursive;
    color: #6d4c80;
    text-align: center;
    margin-top: 10%;
}
ion-list{
    position: relative;
    background-color:#b5f0f0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 9%;
    border-radius: 25px;  
}
ion-radio{
    --color-checked: #ff6c92;
}
ion-item{
    --background:#b5f0f0;
    --border-radius: 10px;
    height: 36px;
}
img{
    height: 25px;
}

ion-list-header{
    margin-left: 2%;

}
ion-fab{
    position: absolute;
    bottom: 55px;
    margin-left: 80%;
}

.idade{
    top: 22%;
    position: absolute;
    right: 8%;
    height: 80px;
}
.preservativo{
    top: 60%;
    position: absolute;
    right: 8%;
    height: 80px;
}
ion-fab-button{
    width: 80px;
    height: 80px;
}
.boneca{
    width: 70px;
    height: 85px;
}