<ion-content>
  <div class="background ion-text-left">
    <div class="title ion-text-center">Sex</div>
    <ion-list>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/sexo.png"><b>Is there an ideal age for a girl to start having
              sex?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group>
        <ion-list-header>
          <ion-label> <img src="../../../assets/icon/mulher.png"><b>If yes, be:</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Before 12 years</ion-label>
          <ion-radio slot="start" value="12anos" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Between 12 and 17 years</ion-label>
          <ion-radio slot="start" value="12-17anos"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>After 18 years</ion-label>
          <ion-radio slot="start" value="18anos" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Any age</ion-label>
          <ion-radio slot="start" value="qualquer"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><img src="../../../assets/icon/pergunta.png"><b>Can you use the same condom for vaginal and anal
              sex?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Sometimes</ion-label>
          <ion-radio slot="start" value="as-vezes" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>
    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/uso-emergencia" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/saude-relacoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b>
      </ion-button>
    </div>
  </div>

  <ion-fab class="idade">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>
  <ion-fab class="preservativo">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

</ion-content>