<ion-content>
  <div class="backgroud">
    <div class="title ion-text-center">Tips</div>
    <div class="container ion-button-center">
      <ion-button expand="full" fill="outline">What can be vaginal bleeding<br> outside the menstrual period?
      </ion-button>
      <ion-button expand="full" fill="outline">What is the difference between<br>bleeding and menstruation?</ion-button>
      <ion-button expand="full" fill="outline">What are the bleeding symptoms?</ion-button>
      <ion-button expand="full" fill="outline">Why do we feel menstrual cramps?</ion-button>
      <ion-button expand="full" fill="outline">Can severe menstrual cramps<br>be a sign of what?</ion-button>
      <ion-button expand="full" fill="outline">What are the main symptoms<br>that accompany menstrual cramps?
      </ion-button>
      <ion-button expand="full" fill="outline">What to do<br>to stop menstrual cramps?</ion-button>
      <ion-button expand="full" fill="outline">Is it normal to feel<br>pain during sexual relation?</ion-button>
      <ion-button expand="full" fill="outline">Can you feel pain<br>in the womb when you have sex?</ion-button>
      <ion-button expand="full" fill="outline">What can be bleeding<br>during sexual relation?</ion-button>
    </div>

    <div class="rodape ion-text-center">
      <ion-button href="saude-vaginal-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
    </div>

  </div>
</ion-content>