<ion-content>
  <div class="backgroud">
    <div class="title ion-text-center">Dicas</div>

    <div class="container ion-button-center">
      <ion-button expand="full" fill="outline">O que pode ser um sangramento <br>vaginal fora do período menstrual?
      </ion-button>
      <ion-button expand="full" fill="outline">Qual a diferença entre <br>sangramento e menstruação?</ion-button>
      <ion-button expand="full" fill="outline">Quais são os sintomas de hemorragia?</ion-button>
      <ion-button expand="full" fill="outline">Porque sentimos cólica menstrual?</ion-button>
      <ion-button expand="full" fill="outline">Cólica menstrual muito forte<br>pode ser sinal de que?</ion-button>
      <ion-button expand="full" fill="outline">Quais os principais sintomas<br>que acompanham à cólica menstrual?
      </ion-button>
      <ion-button expand="full" fill="outline">O que fazer para parar <br>à cólica menstrual?</ion-button>
      <ion-button expand="full" fill="outline">É normal sentir <br>dor na relação sexual?</ion-button>
      <ion-button expand="full" fill="outline">Quanto se tem relação <br>pode sentir dor no útero?</ion-button>
      <ion-button expand="full" fill="outline">O que pode ser sangramento <br>durante a relação sexual?</ion-button>
    </div>

    <div class="rodape ion-text-center">
      <ion-button (click)="voltar()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
    </div>

  </div>
</ion-content>