<ion-content>
  <div class="backgroud">
    <div class="container top ion-text-center column">
      <div class="ion-padding">
        <section>
          <ul class="my-nav list">
            <h5 class="itens"><b>Bem-vinda ao SexGynCare</b></h5>
            <h6 class="itens">
              <b>Você está na ferramenta digital que lhe dará informações sobre:</b>
            </h6>
            <li class="itens">
              Saúde ginecológica (vaginal e higiene íntima)
            </li>
            <li class="itens">
              Ciclo menstrual
            </li>
            <li class="itens">
              Métodos contraceptivos
            </li>
            <li class="itens">
              Sexo e infecções sexualmente transmissíveis
            </li>
            <li class="itens">
              Serviços de urgência ginecológica
            </li>
          </ul>
        </section>
      </div>
      <ion-button
        fill="outline"
        (click)="registerPage()"
        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
      >
      Cadastre-se
      </ion-button>
      <ion-button
        fill="outline"
        (click)="loginPage()"
        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
      >
        Login
      </ion-button>
    </div>
  </div>
</ion-content>
