<ion-content>
  <div class="backgroud">
    <div class="container top ion-text-center">
      <div class="ion-padding">
        <section>
          <ul class="my-nav list">
            <h5 class="itens"><b>Welcome to GynecoCare</b></h5>
            <h6 class="itens">
              <b>You are in the digital tool that will give you information about:</b>
            </h6>
            <li class="itens">
              Gynecological health (vaginal and intimate hygiene)
            </li>
            <li class="itens">
              Menstrual cycle
            </li>
            <li class="itens">
              Contraceptive methods
            </li>
            <li class="itens">
              Sex and sexually transmitted infections
            </li>
            <li class="itens">
              Gynecological emergency services
            </li>
          </ul>
        </section>
      </div>
      <ion-button
        fill="outline"
        href="/cadastro"
        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
      >
        Register
      </ion-button>
      <ion-button
        fill="outline"
        href="/login"
        style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
      >
        Login
      </ion-button>
    </div>
  </div>
</ion-content>
