<ion-content>
  <div class="background ion-text-left">
    <div class="title ion-text-center">Contraceptive methods</div>
    <ion-list>

      <div class="cabecalho">
        <ion-label class="titu ion-text-center"><b>Contraceptive method: IUD </b></ion-label>
        <img src="../../../assets/icon/diu.png">
      </div>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Can a teenager use an IUD?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>IUD causes an infection?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group>
        <ion-list-header>
          <ion-label><b>Dangerous to get pregnant in exchange for contraceptives?</b></ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="sim" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="nao"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <br>
    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/metodo-contraceptivo" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/uso-emergencia" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b>
      </ion-button>
    </div>
  </div>
  <ion-fab class="usar">
    <ion-fab-button (click)="presentAlert1()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="infeccao">
    <ion-fab-button (click)="presentAlert2()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="troca">
    <ion-fab-button (click)="presentAlert3()">
      <img src="../../../assets/icon/gyneco.png" class="boneca">
    </ion-fab-button>
  </ion-fab>

</ion-content>