<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Menstrual cycle</div>
    <ion-list>
      <br>
      <div class="humor">
        <ion-radio-group>

          <ion-list-header>
            <div>
              <div>
                <img src="../../../assets/icon/humor.png" style="float: left">
              </div>
              <div class="text1">
                <ion-label><b>Mood</b></ion-label>
              </div>
            </div>
          </ion-list-header>

          <div>
            <div class="coluna1">
              <ion-item>
                <ion-label>Indifferent</ion-label>
                <ion-checkbox color=" secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Happy</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Sad</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Furious</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Excited</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

            <div class="coluna2"></div>
            <ion-item>
              <ion-label>Inspired</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Melancholic</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Impartial</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Ansxious</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Stressed</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>

          </div>
        </ion-radio-group>
      </div>

      <div class="relacao-sexual">
        <ion-radio-group>

          <ion-list-header>
            <div>
              <div>
                <img src="../../../assets/icon/sexo.png" style="float: left">
              </div>
              <div class="text2">
                <ion-label><b>Sexual relation today:</b></ion-label>
              </div>
            </div>
          </ion-list-header>

          <div>
            <div class="coluna1">
              <ion-item>
                <ion-label>Protected</ion-label>
                <ion-checkbox color=" secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Masturbation</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

            <div class="coluna2">
              <ion-item>
                <ion-label>Unprotected</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Orgasm</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

            <div class="ultimo-text">
              <ion-item>
                <ion-label>High sexual desire
                    </ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

          </div>

        </ion-radio-group>
      </div>
      <br>
    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/ciclo-menstrual-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>back</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/metodo-contraceptivo" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>next</b>
      </ion-button>
    </div>

  </div>
</ion-content>