<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Ciclo menstrual</div>
    <ion-list>
      <br>
      <div class="humor">
        <ion-radio-group>

          <ion-list-header>
            <div>
              <div>
                <img src="../../../assets/icon/humor.png" style="float: left">
              </div>
              <div class="text1">
                <ion-label><b>Humor</b></ion-label>
              </div>
            </div>
          </ion-list-header>

          <div>
            <div class="coluna1">
              <ion-item>
                <ion-label>Indiferente</ion-label>
                <ion-checkbox color=" secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Feliz</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Triste</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Furioso</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Excitado</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

            <div class="coluna2"></div>
            <ion-item>
              <ion-label>Inspirado</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Melancólico</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Imparcial</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Ansioso</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Estressado</ion-label>
              <ion-checkbox color="secondary"></ion-checkbox>
            </ion-item>

          </div>
        </ion-radio-group>
      </div>

      <div class="relacao-sexual">
        <ion-radio-group>

          <ion-list-header>
            <div>
              <div>
                <img src="../../../assets/icon/sexo.png" style="float: left">
              </div>
              <div class="text2">
                <ion-label><b>Relação sexual hoje:</b></ion-label>
              </div>
            </div>
          </ion-list-header>

          <div>
            <div class="coluna1">
              <ion-item>
                <ion-label>Protegido</ion-label>
                <ion-checkbox color=" secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Masturbação</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

            <div class="coluna2">
              <ion-item>
                <ion-label>Desprotegido</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>Orgasmo</ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

            <div class="ultimo-text">
              <ion-item>
                <ion-label>Alto desejo sexual
                    </ion-label>
                <ion-checkbox color="secondary"></ion-checkbox>
              </ion-item>
            </div>

          </div>

        </ion-radio-group>
      </div>
      <br>
    </ion-list>

    <div class="rodape ion-text-center">
      <ion-button color="primary" href="/ciclo-menstrual-dois" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>voltar</b>
      </ion-button>
      <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>menu</b>
      </ion-button>
      <ion-button color="primary" href="/metodo-contraceptivo" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        <b>próximo</b>
      </ion-button>
    </div>

  </div>
</ion-content>