<ion-content>
  <div class="backgroud ion-text-center">

    <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'">
    </ion-calendar>

    <ion-button color="primary" href="/ciclo-menstrual" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>voltar</b>
    </ion-button>
    <ion-button color="primary" href="/opcoes" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>menu</b>
    </ion-button>
    <ion-button color="primary" href="/sintomas" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>próximo</b>
    </ion-button>

  </div>
</ion-content>