<ion-content>
  <div class="backgroud ion-text-center">
    <div class="title ion-text-center">Ciclo menstrual</div>
    <div class="ion-margin">

      <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-col >
          <ion-button class="tilteMonth ion-button-center" expand="full" fill="outline" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">{{ viewTitle }}</ion-button>
        </ion-col>
      </ion-row>

      <calendar
      [monthviewDisplayEventTemplate]="template"
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onTitleChanged)="onViewTitleChanged($event)"
      step="30"
      >
      </calendar>

    </div>
    <ion-button color="primary" (click)="load()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>ver</b></ion-button>
    <ion-button color="primary" (click)="back()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>voltar</b>
    </ion-button>
    <ion-button color="primary" (click)="menu()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>menu</b>
    </ion-button>
    <ion-button color="primary" (click)="next()" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
      <b>próximo</b>
    </ion-button>

  </div>
</ion-content>